@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Vehicle Management System</h1>
<a href="vehicle/list"> <button>List of
        Vehicles </button></a>

<a asp-area="" asp-controller="Vehicle" asp-action="AddVehicle"><button>Add Vehicle
    </button> </a>
</div>

<marquee>This website is developed for education purpose only. It does not claim any copy right</marquee>
</div>
